<p id="notice"><%= notice %></p>

<h1>Japans</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @japans.each do |japan| %>
    
    <% @fos = japan.foto %>
    <% @fo = @fos.split(",") %>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src=<%= @fo[1] %> alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <hr>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
      <tr>
        <td><%= link_to 'Show', japan %></td>
        <td><%= link_to 'Edit', edit_japan_path(japan) %></td>
        <td><%= link_to 'Destroy', japan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Japan', new_japan_path %>


