<h1>rechargement</h1>

<%= Time.now.utc %>

<p>nombre de nouveau bmw </p>
<%= @bmw_size %><br>
<%= link_to "Rechargement bmw", load_bmw_path %>
<%#= Japan.last.updated_at %>
<br/>
<p>image non chargée <%= @oi %><br/>
  Voiture à gauche <%= @ol %></p>